@page "/"
@implements IDisposable

<div class="container-fluid border mb-2">
    <h2 class="text-center">Editor</h2>
    <div class="row">
        <textarea class="col" rows="10" @bind="@_assemblyCode" placeholder="Type assembly code here..."></textarea>
    </div>
    <div class="row">
        <button class="col" @onclick="AssembleClicked" disabled="@(_machine.State == Machine.MachineState.Running)">Assemble</button>
    </div>
</div>

<div class="container-fluid border mb-2">
    <div class="row">
        <button class="col" @onclick="RunClicked" disabled="@(_machine.State == Machine.MachineState.Running)">Run</button>
        <button class="col" @onclick="StepClicked">Step</button>
        <button class="col" @onclick="BreakClicked" disabled="@(_machine.State != Machine.MachineState.Running)">Break</button>
    </div>
    <div class="row">
        <button class="col" @onclick="ClearMemoryClicked">Clear Memory</button>
    </div>
    <div class="row">
        <button class="col" @onclick="ClearRegistersClicked">Clear Registers</button>
    </div>
    <div class="row">
        <button class="col" @onclick="ClearOutputClicked">Clear Output</button>
    </div>
</div>

<div class="container-fluid border mb-2">
    <div class="row">
        <textarea class="col" rows="5" readonly>@_outputText</textarea>
    </div>
</div>

<div class="container-fluid border mb-2">
    <div class="row">
        <h5 class="col text-center">Program Counter</h5>
        <h5 class="col text-center">Instruction Register</h5>
    </div>
    <div class="row">
        <input class="form-control-sm col" @bind="_machine.ProgramCounter"/>
        <input class="form-control-sm col" value="@_machine.InstructionRegister" readonly/>
    </div>
</div>

<div class="container-fluid border mb-2">
    <h2 class="text-center">Memory</h2>
    @foreach (int i in Enumerable.Range(0, 32))
    {
        <div class="row">
            @foreach (int j in Enumerable.Range(0, 8))
            {
                <input class="col form-control-sm" @bind="_memory[(byte) (i * 8 + j)]"/>
            }
        </div>
    }
</div>

<div class="container-fluid border mb-2">
    <h2 class="text-center">Registers</h2>
    @foreach (int i in Enumerable.Range(0, 2))
    {
        <div class="row">
            @foreach (int j in Enumerable.Range(0, 8))
            {
                <input class="col form-control-sm" @bind="_registers[(byte) (i * 8 + j)]"/>
            }
        </div>
    }
</div>

@code {

    private Memory _memory;
    private Registers _registers;
    private Machine _machine;
    private Assembler _assembler;
    private string _outputText;
    private string _assemblyCode;

    protected override void OnInitialized()
    {
        _memory = new Memory();
        _registers = new Registers();
        _machine = new Machine(_memory, _registers);
        _assembler = new Assembler();
        _outputText = null;
        _assemblyCode = null;

        _registers.ValueWrittenToOutputRegister += AppendToOutputText;
        _machine.ProgramCounterChanged += StateHasChanged;
        _machine.InstructionRegisterChanged += StateHasChanged;
        _machine.StateChanged += StateHasChanged;
    }

    private async Task RunClicked()
    {
        await _machine.RunAsync(25);
    }

    private void StepClicked()
    {
        _machine.Step();
    }

    private void BreakClicked()
    {
        _machine.Break();
    }

    private void ClearMemoryClicked()
    {
        _memory.Clear();
    }

    private void ClearRegistersClicked()
    {
        _registers.Clear();
    }

    private void ClearOutputClicked()
    {
        _outputText = null;
    }

    private void AppendToOutputText(char c)
    {
        _outputText += c;
        StateHasChanged();
    }

    private void AssembleClicked()
    {
        Instruction[] instructions = _assembler.Assemble(_assemblyCode);

        _memory.LoadInstructions(instructions);
    }

    public void Dispose()
    {
        _registers.ValueWrittenToOutputRegister -= AppendToOutputText;
        _machine.ProgramCounterChanged -= StateHasChanged;
        _machine.InstructionRegisterChanged -= StateHasChanged;
        _machine.StateChanged -= StateHasChanged;
    }

}